@media only screen and (min-width: 960px) and (max-width: 9999px){
    /* .limbsButtons{
        margin-top: -570px;
    } */
    #fighterHealthBar{
        width: 220px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px){
    /* .limbsButtons{
        margin-top: -270px;
    } */
    #fighterHealthBar{
        width: 170px;
    }

    .fighterUl{
        display: grid!important;
        flex-direction: row;
        grid-template-columns: repeat(2, 30%)!important; 
        justify-content: space-around!important;
    }   
}

@media only screen and (min-width: 376px) and (max-width: 767px){

    #fighterHealthBar{
        width: 120px;
    }

    .fighterUl{
        display: grid!important;
        flex-direction: row;
        grid-template-columns: repeat(2, 30%)!important; 
        justify-content: space-around!important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px){
    #fighterHealthBar{
        width: 70px;
    }

    .fighterUl{
        display: grid!important;
        flex-direction: row;
        grid-template-columns: repeat(2, 30%)!important; 
        justify-content: space-around!important;
    }
}


header{
    height: 50px;
    background-color: #360101;
}

body{
    position: relative;
    background: -webkit-linear-gradient(top, #000000, #6d0404);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    height: 150vh;
}

button{
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 20px;
    color: black;
    box-shadow: 0 0 10px #eee;
    border-radius: 20px;
    
}

input{
    border-radius: 10px;
}

.imageSize{
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
}

.background{
    background-image: url(../background/Mortal-Kombat-11-tile-image.jpg);
    background-size: cover;
    background-position: center;
}

/* .fighterImage{
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(2, 37%); 
    justify-content: space-between;
    height: 500px;
} */

#profile{
    margin-left: 20px;
    background-image: linear-gradient(to right, #6d0404 0%, #c92d2d 51%, #6d0404 100%);
    color: white;
}

.fighterUl{
    display: grid;
    margin-left: 50px;
    grid-template-columns: repeat(2, 30%); 
    justify-content: space-around;
}

.fighterUl__fighter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limbsButtons{
    display: flex;
    flex-direction: row;
    /* left: 50%; */
    /* top: 50%;
    transform: translate(20%, -50%); */
    gap: 5px;
    animation-name: fadeIn;
    margin-top: 100px;
}

.limbsButtons.open{
    display: flex;
    gap: 5px;
    
}

.fighterHealthBar{
    position: relative;
    border-radius: 4px;
    background: green;
    transform-origin: center;
    position: relative;
    width: 100%;
    /* top: 37px;
    left: -20px; */
}

.fighterHealthBar::-webkit-progress-bar {
    background: #8a0404;
  
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fighter__img{
    width: 100%;
    height: 50%!important;
    margin-top: 55px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-create-fighter{
    display: flex;
    padding: 10px;
}

.btn-new {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 20px;
    background-image: linear-gradient(to right, #6d0404 0%, #c92d2d 51%, #6d0404 100%);
}

.btn-new:hover {
     background-position: right center;
}

.openForm{
    color: white;
    position: absolute;
    width: 200px;
    padding: 10px;
    line-height: 26px;
    border-radius: 1px;
    background-color: rgba(128, 128, 128, 0.7);
    left: 37%;
    top: 31%;
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.openForm.open{
    display: flex;
}

.openForm.close{
    display: flex;
    animation-name: fadeOut;
}

.profile-log{
    color: white;
    position: absolute;
    width: fit-content;    padding: 10px;
    line-height: 26px;
    border-radius: 1px;
    background-color: rgba(128, 128, 128, 0.7);
    display: none;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.profile-log.open{
    display: flex;
}

.profile-log.close{
    display: flex;
    animation-name: fadeOut;
}

.shop{
    display: none;
}

.shop.open{
    display: flex;
}

.shop.close{
    display: flex;
    animation-name: fadeOut;
}

.skill{
    border: 3px solid black;
    margin-left: 3px;
    padding: 5px;
}


#createFighterClose{
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#createFighterClose.open{
    display: block;
}

#createFighterClose.close{
    animation-name: fadeOut!important;
}

.testCreate{

    display: none;
    margin-top: 10px;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    justify-content: space-around;
}

.testCreate.open{
    display: flex;
}

.testCreate.close{
    animation-name: fadeOut!important;
}

/* .testButton{
    animation-name: fadeIn;
} */

#chat{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #eee;
    width: 400px;
    height: 100px;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    overflow: auto;
}

  #chat::-webkit-scrollbar {
    /* margin-left: 10px; */
    width: 10px; /* Ширина вертикальной полосы */
    background-color: transparent;
    position: relative; /* Или relative, в зависимости от нужного позиционирования */
    right: 0; /* Положение по правому краю */
    top: 0; /* Положение по верхнему краю */
  }
  
  #chat::-webkit-scrollbar-track {
    background-color: #b407078a;
    border-radius: 10px;
  }
  
  /* Для ползунка (сама полоса прокрутки) */
  #chat::-webkit-scrollbar-thumb {
    background-color: #afadad;
    border-radius: 10px;
  }
  
  /* При наведении на ползунок */
  #chat::-webkit-scrollbar-thumb:hover {
    background-color: #383838;
  }

#textDiv{
display: flex;
justify-content: center;
margin-top: 10px;
}

.chatText{
    margin-left: 20px;
    white-space: normal;
    word-wrap: break-word;
}

#chatButton{
    background-image: linear-gradient(to right, #6d0404 0%, #c92d2d 51%, #6d0404 100%);
    margin-left: 10px;
    color: white;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }