header{
    height: 50px;
    background-color: #360101;
}

body{
    background: -webkit-linear-gradient(top, #000000, #6d0404);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
}

.imageSize{
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
}

.background{
    background-image: url(background/Mortal-Kombat-11-tile-image.jpg);
    height: 46vw;
    background-size: cover;
    background-position: center;

}

.fighterImage{
    display: grid;
    justify-content: center; 
    grid-template-columns: repeat(2, 37%); 
}

.fighterUl{
    display: flex;
    justify-content:baseline 
}

#fighterHealthBar{
    position: relative;
    border-radius: 4px;
    background: green;
    transform-origin: center;
    zoom: 1;
}

#fighterHealthBar::-webkit-progress-bar {
    background: #360101;
  
}



.fighter1{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fighter2{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-create-fighter{
    display: flex;
    padding: 10px;
}

.btn-new {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 20px;
    background-image: linear-gradient(to right, #6d0404 0%, #c92d2d 51%, #6d0404 100%);
}

.btn-new:hover {
     background-position: right center;
}

.openForm{
    color: white;
    position: absolute;
    width: 200px;
    padding: 10px;
    line-height: 26px;
    border-radius: 1px;
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.openForm.open{
    display: flex;
}

.openForm.close{
    animation-name: fadeOut;
}


#createFighterClose{
    display: none;
    margin-left: 20px;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#createFighterClose.open{
    display: block;
}

#createFighterClose.close{
    animation-name: fadeOut!important;
}

/* #fighterHealthBar::-webkit-progress-value {
    background: red;
  
} */



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }