body{
    background: -webkit-linear-gradient(top, #000000, #6d0404);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
}

.background{
    background-image: url(background/Mortal-Kombat-11-tile-image.jpg);
    height: 46vw;
    background-size: cover;
    background-position: center;

}

.fighterImage{
    display: flex;
    justify-content: center; 
}

.fighterUl{
    display: flex;
    justify-content: center; 
}



.fighter1{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fighter2{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}